body * {
  box-sizing: border-box;
}

body div div {
  max-width: 700px;
  width: 100%;
}

.singleCase {
  width: 33.333333333%;
  height: 100px;
  padding: 5px;
  float: left;
  text-align: center;
  border: 1px solid black;
  cursor:pointer;
}
